.card{
    background-color: #191919;
    overflow: hidden;
    width:15%;
    height:90%;
    /* border:1px solid #2e2e2e73; */
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(25, 25, 25),-3px -3px 10px rgb(60, 60, 60);
    cursor: pointer;
}

.card .first-content{
    height:100%;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 15px;
    transition: all 0.5s;
}

.first-content h2{
    color:white;
    font-size: 1.1rem;
    font-weight: bolder;
}

.image{
    width:60%;
}
.card .image img{
    object-fit: contain;
    width: 100%;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    padding: 0 26px;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.5s smooth;
    font-size: 0px;
}
  
.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1rem; 
}